@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-ccw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate-90-top-cw {
  0% {
    transform: rotate(0);
    transform-origin: top;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: top;
  }
}

@keyframes rotate-90-top-ccw {
  0% {
    transform: rotate(0);
    transform-origin: top;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: top;
  }
}

@keyframes rotate-90-tr-cw {
  0% {
    transform: rotate(0);
    transform-origin: top right;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: top right;
  }
}

@keyframes rotate-90-tr-ccw {
  0% {
    transform: rotate(0);
    transform-origin: top right;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: top right;
  }
}

@keyframes rotate-90-right-cw {
  0% {
    transform: rotate(0);
    transform-origin: right;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: right;
  }
}

@keyframes rotate-90-right-ccw {
  0% {
    transform: rotate(0);
    transform-origin: right;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: right;
  }
}

@keyframes rotate-90-br-cw {
  0% {
    transform: rotate(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: 100% 100%;
  }
}

@keyframes rotate-90-br-ccw {
  0% {
    transform: rotate(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
  }
}

@keyframes rotate-90-bottom-cw {
  0% {
    transform: rotate(0);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: bottom;
  }
}

@keyframes rotate-90-bottom-ccw {
  0% {
    transform: rotate(0);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: bottom;
  }
}

@keyframes rotate-90-bl-cw {
  0% {
    transform: rotate(0);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: 0% 100%;
  }
}

@keyframes rotate-90-bl-ccw {
  0% {
    transform: rotate(0);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
}

@keyframes rotate-90-left-cw {
  0% {
    transform: rotate(0);
    transform-origin: left;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: left;
  }
}

@keyframes rotate-90-left-ccw {
  0% {
    transform: rotate(0);
    transform-origin: left;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: left;
  }
}

@keyframes rotate-90-tl-cw {
  0% {
    transform: rotate(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: rotate(90deg);
    transform-origin: 0% 0%;
  }
}

@keyframes rotate-90-tl-ccw {
  0% {
    transform: rotate(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
  }
}
