@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translateZ(160px);
  }
}

@keyframes slide-fwd-top {
  0% {
    transform: translateZ(0) translateY(0);
  }

  100% {
    transform: translateZ(160px) translateY(-100px);
  }
}


@keyframes slide-fwd-tr {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }

  100% {
    transform: translateZ(160px) translateY(-100px) translateX(100px);
  }
}

@keyframes slide-fwd-right {
  0% {
    transform: translateZ(0) translateX(0);
  }

  100% {
    transform: translateZ(160px) translateX(100px);
  }
}

@keyframes slide-fwd-br {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }

  100% {
    transform: translateZ(160px) translateY(100px) translateX(100px);
  }
}

@keyframes slide-fwd-bottom {
  0% {
    transform: translateZ(0) translateY(0);
  }

  100% {
    transform: translateZ(160px) translateY(100px);
  }
}

@keyframes slide-fwd-bl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }

  100% {
    transform: translateZ(160px) translateY(100px) translateX(-100px);
  }
}


@keyframes slide-fwd-left {
  0% {
    transform: translateZ(0) translateX(0);
  }

  100% {
    transform: translateZ(160px) translateX(-100px);
  }
}


@keyframes slide-fwd-tl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }

  100% {
    transform: translateZ(160px) translateY(-100px) translateX(-100px);
  }
}