@keyframes slide-bck-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(-400px);
  }
}

@keyframes slide-bck-top {
  0% {
    transform: translateZ(0) translateY(0);
  }
  100% {
    transform: translateZ(-400px) translateY(-200px);
  }
}

@keyframes slide-bck-tr {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateY(-200px) translateX(200px);
  }
}

@keyframes slide-bck-right {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(200px);
  }
}

@keyframes slide-bck-br {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateY(200px) translateX(200px);
  }
}

@keyframes slide-bck-bottom {
  0% {
    transform: translateZ(0) translateY(0);
  }
  100% {
    transform: translateZ(-400px) translateY(200px);
  }
}

@keyframes slide-bck-bl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateY(200px) translateX(-200px);
  }
}

@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}

@keyframes slide-bck-tl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateY(-200px) translateX(-200px);
  }
}
